.styled-select {
    width: 100%;
    padding: 0.7em;
    border: none;
    background: none;
    outline: none;
    color: white;
    border-bottom: 1px solid black;
    background-color: #7B6E5D;


}

.styled-select option {
    background: #594834;

    color: white;
    text-align: center;
}

.contact-section {
    background: #f7f7f7;
    text-align: center;
    padding: 30px;
    padding-bottom: 60px;
}

.section-title {
    font-size: 2em;
    color: #4c4c4c;
    margin-bottom: 10px;
}

.section-description {
    font-size: 1.2em;
    color: #4c4c4c;
    margin-bottom: 20px;
}

.section-video {
    width: 90%;
    height: 90%;
}





.boutique-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.boutique-info {
    flex: 1;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.boutique-title {
    font-size: 1.5em;
    color: #4c4c4c;
    margin-bottom: 10px;
}

.map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.map {
    width: 48%;
    height: 450px;
    border: none;
}

.boutique-address {
    font-size: 1.2em;
    color: #666666;
    width: 48%;
}
@media (max-width: 768px) {
    .map {
        width: 110%; 
        height: 300px; 
    }

    .boutique-address {
        width: 100%; 
        
    }
   
}

.content {
    box-sizing: border-box;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;

}

.tituloCon {
    text-align: center;
    font-size: 3em;
    padding-top: 30px;
    padding-bottom: 30px;

}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);


}

.contact-wrapper>* {
    padding: 1em;
}

.contact-form {
    background-color: #7B6E5D;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
    grid-column: 1/3;
}

.contact-form form p {

    margin: 0;
    padding: 1em;
}


.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: none;
    color: white;
    border-bottom: 1px solid black
}

.contact-form form button {
    background-color: grey;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}


.contact-form form button:hover,
.contact-form form button:focus {
    background-color: #696969;
}

.contact-info {
    background-color: #594834;

}

.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;

}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    padding: .3rem;
}

/* LARGE SIZE */
@media(max-width: 200px) {
   
    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper>* {
        padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        text-align: left;
    }
}




.styled-select {
    width: 100%;
    padding: 0.7em;
    border: none;
    background: none;
    outline: none;
    color: white;
    border-bottom: 1px solid black;
    background-color: #7B6E5D;
    margin-bottom: 1em;

}


.styled-select option {
    background: #594834;

    color: white;
    text-align: center;
} 


/* medias queries para videos de fondo */
@media (max-width: 768px) {
.ofertaInicio,
.videEco,
.tituloCafe,
.ofertaMaq{
    height: 50vh; 
}



}
